body{
    margin: 0;
    font-family: roboto;
    background-color:#36393e;
}
.top{
    margin: 0;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: #1e2124;
}
.discord{
    margin: 0;
    color:  rgb(149, 148, 148);
    font-weight: bolder;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
}
.button img{
    width: 15px;
}
.cut:hover,.minimize:hover{
    background-color: #50545a;
}
.exit:hover{
    background-color: red;
}
.button button{
    padding-top: 3px;
    background-color: #1e2124;
    border: none;
    opacity: 6;
}

.bottom{
    display: flex;
    flex-direction: row;
    width: 70px;
    position: fixed;
    z-index: 100;
    left: 0;
    height: 1000px;
    bottom: 0;
    top: 23px;
    
}
.friend-list{
    width: 32px;
}
.friend-icon{
    border-bottom: solid 1px rgb(46, 45, 45);
    margin-bottom: 5px;
    position: relative;
}
.discord-friend-list-icon{
    padding:10px 4px 6px 4px;
    width: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 8px;
    background-color:#244ad4;
    border-radius: 15px;
    transition: margin 0.1s;
}
.discord-friends{
    padding: 10px 2px 0px 2px;
    display: flex;
    flex-direction: column;
    background-color: #1e2124;
}
.discord-friends div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.discord-friend{
    margin: 8px 10px 8px 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: middle;
    border-radius: 50%;
    transition: border-radius 0.2s;
}
.discord-friend:active{
    margin-top: 9px;
    margin-bottom: 7px;
}
.discord-friend-no-img{
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    margin-top: 2px;
    font-weight: 500;
    color: white;
    width: 50px;
    height: 50px;
    background-color:#36393e;
    border: none;
    border-radius: 50%;
    margin-bottom: 0px;
    transition: border-radius 0.2s;   
}
.discord-friend-no-img:hover{
    background-color: #244ad4;
}
.discord-friend-no-img:active{
 margin-bottom: 1px;
 margin-top: 1px;
}

.discord-add-server,
.discord-explore-server,
.discord-download-apps{
    border: none;
    margin: 0px 10px 8px 10px;
    width: 50px;
    position: relative;
    height: 50px;
    object-fit: cover;
    object-position: middle;
    border-radius: 50%;
    transition: border-radius 0.2s;
    background-color: #36393e;
}
.discord-download-apps{
    margin-top: 8px;
}
.discord-add-server img{
    width: 20px;
}
.discord-download-apps img{
    width: 30px;
}
.discord-download-apps:active{
    margin-top: 10px;
}
.discord-explore-server img{
    width: 25px;
}
.discord-add-server:hover,
.discord-explore-server:hover,
.discord-download-apps:hover{
    background-color: rgb(83, 147, 83);
}
.discord-add-server:hover,
.discord-friend-no-img:hover,
.discord-friend:hover,
.discord-explore-server:hover,
.discord-download-apps:hover
{
    cursor: pointer;
    border-radius: 29%;
}
.discord-add-server:active,
.discord-explore-server:active
{
    margin-top: 1px;
    margin-bottom: 7px;
}
.friend-icon-last{
    border-top: 1px solid #2c2e32;
 }
